<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BigP Feed</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div id="app"></div>
        <script type="text/javascript" src="/js/bundle.js"></script>
    </body>
</html>