$main-blue: #46a9dd;
$main-blue-hover: rgba(70, 169, 221, 0.8);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Hammersmith One', sans-serif;
  background-color: #f9f9f9;
}

input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

#feed-container {
  width: 300px;
  margin: 30px auto 0 auto;
  border: 1px solid #8080807d;

  input, textarea {
    display: block;
    margin: 0 auto 10px auto;
    width: 100%;
    border: 1px solid #c9c9c9;
    box-sizing: border-box;
    padding: 7px 5px;
  }

  #form-container {
    background-color: #efefef;
    text-align: right;
    overflow: hidden;
    padding: 20px;

    button {
      border-radius: 4px;
      background-color: $main-blue;
      text-transform: uppercase;
      border: none;
      color: white;
      padding: 5px 7px;
      transition: all .3s;
      cursor: pointer;

      &:hover {
        background-color: $main-blue-hover;
      }
    }
  }

  #comments-container {
    padding: 20px;

    .loader-container {
      margin: 20px auto;
      text-align: center;
    }

    .comment {
      padding: 7px 0;
      height: 45px;

      &:last-child {
        padding-bottom: 0;
      }

      .gravater {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        overflow: hidden;
        width: 45px;
        height: 45px;
        margin-right: 10px;

        img {
          width: 45px;
          border-radius: 4px;
          transition: all .5s;

          &:hover {
            transform: scale(1.1);
            opacity: .8;
          }
        }
      }

      .content {
        display: inline-block;
        vertical-align: middle;

        h3 {
          margin: 0 0 5px;
          font-size: 15px;
          transition: all .3s;
        }

        span {
          color: #797979;
          font-size: 15px;
        }
      }
    }
  }
}

#popup-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  #popup-container {
    text-align: left;
    width: 320px;
    background-color: white;
    padding: 15px;
    position: fixed;
    top: 20%;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 5px;

    h3 {
      margin-top: 0;
      margin-bottom: 10px;
    }

    p {
      margin-top: 10px;
    }

    #close-popup {
      display: block;
      margin: 0 0 0 auto;
      width: 50px;
      background-color: $main-blue;
      text-align: center;
      padding: 5px;
      cursor: pointer;
      border-radius: 5px;
      transition: all .3s;
      color: white;
      font-size: 12px;

      &:hover {
        background-color: $main-blue-hover;
      }
    }
  }

  #popup-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
}